In [ ]:
reset -fs

In [1]:
import pandas as pd

In [38]:
eCar_df = pd.read_csv('Nomis Solutions_Data Part I.csv')

In [39]:
eCar_df.dropna(inplace = True)

In [40]:
eCar_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 208077 entries, 0 to 208078
Data columns (total 12 columns):
﻿Tier               208077 non-null float64
FICO                208077 non-null float64
Approve Date        208077 non-null object
Term                208077 non-null float64
Amount              208077 non-null float64
Previous Rate       208077 non-null object
Car  Type           208077 non-null object
Competition rate    208077 non-null float64
Outcome             208077 non-null float64
Rate                208077 non-null float64
Cost of Funds       208077 non-null float64
Partner Bin         208077 non-null float64
dtypes: float64(9), object(3)
memory usage: 20.6+ MB

In [41]:
eCar_df.head()

,﻿Tier,FICO,Approve Date,Term,Amount,Previous Rate,Car Type,Competition rate,Outcome,Rate,Cost of Funds,Partner Bin
0,3.0,695.0,7/1/02,72.0,35000.0,,N,6.25,0.0,7.49,1.8388,1.0
1,1.0,751.0,7/1/02,60.0,40000.0,,N,5.65,0.0,5.49,1.8388,3.0
2,1.0,731.0,7/1/02,60.0,18064.0,,N,5.65,0.0,5.49,1.8388,3.0
3,4.0,652.0,7/1/02,72.0,15415.0,,N,6.25,0.0,8.99,1.8388,3.0
4,1.0,730.0,7/1/02,48.0,32000.0,,N,5.65,0.0,5.49,1.8388,1.0

In [37]:
#Have the user enter the cost of the loan, the interest rate, and
#the number of years for the loan
#Calculate monthly payments with the following formula
# M = L[i(1+i)n] / [(1+i)n-1]
# M = monthly payment
# L = Loan amount
# i = interest rate (for an interest rate of 5%, i = 0.05)
# n = number of payments
#________________________________________________________________________#
#Start of program
#Declare variables

def calculate_monthly_loan_payments(loan_amount,interest_rate,number_payments): 
    #monthlypayment = 0  
    #loanamount = loan_amount
    #interestrate = interest_rate
    #numberofpayments = number_payments  
    #loandurationinyears = 0
    #loanamount = raw_input("How much money will you borrow? ")
    #interestrate = raw_input("What is the interest rate on the loan? ")
    #loandurationinyears = raw_input("How many years will it take you to pay off the loan? ")
    #Convert the strings into floating numbers so we can use them in the formula
    #loandurationinyears = float(loandurationinyears)
    #loanamount = float(loanamount)
    #interestrate = float(interestrate)
    #Since payments are once per month, number of payments is number of years for the loan
    #numberofpayments = loandurationinyears*12
    #calculate the monthly payment based on the formula
    #monthly_payment = loan_amount * interest_rate * (1+ interest_rate) * number_payments / ((1 + interest_rate) * number_payments - 1)
    #print(loan_amount,interest_rate,number_payments)
    #Result to the program
    monthly_payment = (loan_amount * (1 + interest_rate/100)**(number_payments/12))/number_payments
    #print("Your monthly payment will be " + str(monthlypayment))
    return monthly_payment

In [34]:
calculate_monthly_loan_payments(eCar_df['Amount'].iloc[0],eCar_df['Rate'].iloc[0], eCar_df['Term'].iloc[0])

35000.0 7.49 72.0

749.79739155153641

In [42]:
eCar_df['Monthly_Payment'] = eCar_df.apply(lambda x: calculate_monthly_loan_payments(eCar_df.Amount,eCar_df.Rate,eCar_df.Term))

ValueError: Wrong number of items passed 12, placement implies 1

In [44]:
eCar_df.tail()

,﻿Tier,FICO,Approve Date,Term,Amount,Previous Rate,Car Type,Competition rate,Outcome,Rate,Cost of Funds,Partner Bin
208072,1.0,777.0,11/16/04,48.0,35000.0,,N,4.45,0.0,4.45,2.127,3.0
208073,1.0,790.0,11/16/04,60.0,25000.0,,N,4.45,0.0,4.45,2.127,3.0
208074,4.0,663.0,11/16/04,60.0,31800.0,,N,4.45,0.0,10.85,2.127,3.0
208075,1.0,742.0,11/16/04,60.0,33000.0,,N,4.45,0.0,4.45,2.127,1.0
208078,3.0,685.0,11/16/04,60.0,20022.0,8,R,5.55,0.0,6.53,2.127,3.0